.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  margin-top: 10%;
  background-color: whitesmoke;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
}

.location {
  margin-top: 0;
}

.temperature {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
}
.temperature h3 {
  font-size: 1.8em;
}
.temperature img {
  width: 200px;
}
